.animal_header
  .animal_header__main
    .animal_header__main--icon
      = link_to root_path do
        = image_tag 'header.png', height: '60', width: '80', class: 'image1'
      .animal_header__main--icon-text
        = link_to root_path do
          RELIEF