.side-bar
  .side-bar__contents
    .side-bar__contents__cheak-list
      = link_to user_path(current_user.id), class: 'mypage-side-bar__list-item' do
        ユーザー情報
    .side-bar__contents__cheak-list
      = link_to users_path, class: 'mypage-side-bar__list-item' do
        お気に入りリスト
    .side-bar__contents__cheak-list
      = link_to reviews_path, class: 'mypage-side-bar__list-item' do
        レビュー投稿


.main-chat