.side-bar
  .side-bar__contents
    .side-bar__contents__cheak-list
      = link_to 'edit_user_path', class: 'mypage-side-bar__list-item' do
        ユーザー情報
    .side-bar__contents__cheak-list
      = link_to '#', class: 'mypage-side-bar__list-item' do
        チェックリスト（施設）
    .side-bar__contents__cheak-list
      = link_to '#', class: 'mypage-side-bar__list-item' do
        チェックリスト（犬・猫）




.main-chat