.side-bar
  .side-bar__contents
    = link_to user_path(current_user.id), class: 'mypage-side-bar__list-item' do
      .side-bar__contents__cheak-list
        ユーザー情報
    = link_to users_path, class: 'mypage-side-bar__list-item' do
      .side-bar__contents__cheak-list
        チェックリスト
    = link_to reviews_path, class: 'mypage-side-bar__list-item' do
      .side-bar__contents__cheak-list
        記録


.main-chat