.side-bar
  .side-bar__contents
    .side-bar__contents__cheak-list
      = link_to user_path, class: 'mypage-side-bar__list-item' do
        ユーザー情報
    .side-bar__contents__cheak-list
      = link_to '#', class: 'mypage-side-bar__list-item' do
        チェックリスト（施設）
    .side-bar__contents__cheak-list
      = link_to '#', class: 'mypage-side-bar__list-item' do
        チェックリスト（犬・猫）
    .side-bar__contents__cheak-list
      = link_to review_path, class: 'mypage-side-bar__list-item' do
        レビュー投稿




.main-chat