=render 'shared/header'
.contactcomp
  .contactcomp-main
    .contact-main__form
      ご応募ありがとうございました
      %br  ご連絡を今しばらくお待ちください
  .actions
  = link_to 'トップページ', root_path, class: "contactcomp_back"

=render 'shared/fotter'
