.contact{
max-width: 1040px;
width: 100%;
height: 100vh;
margin:auto;
padding: 15px 0 0;
background-color: #d6a3a359;

  &-main{
  margin:auto;
  width:300px;
  height:80vh;
    p{
      color:red;
      text-align: center;
    }
    &__form{
    text-align: center;
    font-size: 30px;
    padding-top: 50px;
    }
    .field{
    padding-top: 50px;
    
    }
  }
  
}


.contact_a-btn{
margin:auto;
width:300px;
height:30px;
display: block;
&_form{
margin:auto;
width:300px;
height:90px;
display: block;
padding-bottom: 60px;
  }
}

.actions{
display: flex;
}

.contact_save{
  width: 130px;
  height: 75px;
  text-align: center;
  margin-top: 50px;
  font-size: 20px;
  background-color: #0aa7f0;
  border-radius: 10px;
}
.contact_back{
  background-color: #ccc;
  font-size: 20px;
  margin-left: 40px;
  margin-top: 50px;
  width: 130px;
  height: 75px;
  text-align: center;
  display: block;
  line-height: 75px;
  color: #0f0f0f;
  border-radius: 10px;
  .a{
  }
}

.contactcomp{
max-width: 1040px;
width: 100%;
height: 100vh;
margin:auto;
padding: 15px 0 0;
background-color: #d6a3a359;
  &-main{
  margin:auto;
  width:500px;
  height:50vh;
    &__form{
    text-align: center;
    font-size: 30px;
    padding-top: 50px;
    }
  }
}
.contactcomp_back{
  background-color: #fff;
  border-radius: 4%;
  margin: auto;
  margin-bottom: 60px;
  font-size: 20px;
  width: 180px;
  height: 80px;
  text-align: center;
  display: block;
  line-height: 80px;
  color: #0f0f0f;
  .a{
  }
}