.mainlike{
  background-color: #9c8888;
  background-image: url(/assets/dog-1517090_1280.png);
  height:100vh;
  width: 100%;
  padding: 20px 40px;
  box-sizing: border-box;
  &__areas{
    padding-bottom: 20px;
    &--title{
      font-size: 30px;
      font-weight: bold;
      width: 300px;
      margin: 0 auto;
      padding-bottom: 10px;
      color:white;
    }
    &--area{
      text-align: center;
      margin-left: 300px;
      overflow: scroll;
      height: 150px;
      width: 500px;
      background-color: #dfd2d2;
      border-radius:20px;
      &-name{
        font-weight: normal;
      }
      a{
        display: block;
        padding:10px 0;
        font-size: 20px;
        color: blue;
      }
    }
  }
  &__animals{
    &--title{
      font-size: 30px;
      font-weight: bold;
      width: 300px;
      margin: 0 auto;
      padding-bottom: 10px;
      color:white;
    }
    &--animal{
      .animalmains{
        display: flex;
        justify-content: center;
        &-content{
          background-color: rgb(247, 247, 177);
          padding: 10px;
          margin: 30px 20px;
          .first_image{
            height: 130px;
            background-color: white;
          }
          .first_name{
            width: 200px;
            background-color: white;
          }
          .first_area{
            width: 200px;
            background-color: white;
          }
          .first_gender{
            width: 200px;
            background-color: white;
          }
          a{
            color: black;
          }
        }
      }
    }
  }
  &__second{
    .pagination{
      margin: 0 auto;
      display: flex;
      li{
        padding: 15px 10px;
      }
      a{
        font-size: 20px;
        font-weight: bold;
        color:white;
      }
    }
  }
}