
.main_chats{
background-color: #9c8888;
height:100vh;
width: 100%;
padding: 20px 40px;
box-sizing: border-box;
background-image: url(/assets/dog-1517090_1280.png);
  &-title{
  margin: auto;
  height:50px;
  width: 600px;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  }
}

.main__second--contents-btn{
margin-top: 30px;
height:50px;
width: 200px;
background-color: #F7B46B;
text-align: center;
line-height: 50px;
border-radius: 15px;
position: relative;
  a{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  line-height: 50px;
  color: #302e2e;
  font-size: 20px;
  }
}

.review{
height:100vh;
width:100vw;
background-color: #fff;
  &_main{
  display: flex;
    &-left{
    width: 30%;
    height: 100vh;
    background-color: #918d8d;
    position: relative;
      &_title{
      font-size: 5.4vw;
      top: calc(120px + 5vh);
      letter-spacing: 0.025em;
      text-align: left;
      }
      &_back{
      display: inline-block;
      position: absolute;
      left: 0;
      bottom: 0;
      margin-bottom: 60px;
      margin-left: 10px;
      font-size: 20px;
        &__bottom-btn{
        background-color: #ccc;
        width: 140px;
        height: 70px;
        border-radius: 30px;
        font-size: 20px;
        }
      }
    }
    &-right{
    padding: 20px 80px;
    width: 70%;
    height: calc(100vh - 40px);
    background-image: url(/assets/footprints-309158_1280.png);
    background-color: #eee;
      .review_main-right2{
      font-size: 25px;
        .form__message{
        padding: 1em 1.5em;
        width:500px;
        font-size: 14px;
        margin:30px 0 0 20px;
        text-align: left;
        background: #ddd;
        }
      }
      .review_main-right1{
      font-size: 25px;
      display: flex;
      margin-top: 30px;
        .form__message2{
        margin: auto;
        width: 525px;
        display: block;
        padding: 10px 10px;
        padding-bottom: 120px;
        font-size: 16px;
        margin:3px 0 0 30px;
        text-align: left;
        background: #ddd;
      }
        }
      .form__mask{
      width:350px;
      font-size: 14px;
      margin:30px 0 0 80px;
      text-align: left;
      }
      .form__submit{
      width:130px;
      height:65px;
      text-align: center;
      margin:40px 0  0 290px;
      font-size:18px;
      background-color: #dfe7eb;
      border-radius: 30px;
      }
    }
  }
}


.review{
background-color: #f1eeee;
width: 100vw;
  &__animals{
  margin: 0 auto;
  background-color: #f5e4e4;
  max-width: 1000px;
  width: 100%;
  height:100vh;
  position: relative;
    &_image{
    margin-left: 290px;
    height:300px;
    width: 400px;
    padding-top: 10px;

    }
      &_name{
      margin: auto;
      margin-right: 80px ;
      font-size: 20px;
      font-weight: bold;
      height:30px;
      width:140px;
      }
      &_main{
      margin: auto;
      margin-top: 10px;
      margin-left:110px;
      font-size: 16px;
      text-align: center;
      line-height: 30px;
      height:30px;
      width:200px;
      background-color: #ffffff;
      border-radius: 10px;
      }
      &_text{
      margin: auto;
      box-sizing: border-box;
      margin-top: 20px;
      font-size: 16px;
      height:230px;
      width:480px;
      text-align: left;
      background-color: #ffffff;
      padding: 10px 20px;
      position: absolute;
      top: 380px;
      right: 0;
      bottom: 0;
      left: 0;
      }
  &_submit{
  margin: auto;
  margin-top: 350px;
  background-color: rgb(223, 25, 25);
  width: 140px;
  height: 70px;
  border-radius: 10px;
  text-align: center;
  line-height: 70px;
    &-btn{
    font-size: 20px;
    width: 140px;
    height: 70px;
    background-color: rgb(247, 19, 19);
    color: #f5efef;
    border-radius: 10px;
    }
  }
  }
}

