.header{
  height:100px;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(-135deg, rgb(195, 239, 250), rgb(73, 171, 236)) fixed;
  &__left{
    margin-left: 50px;
    font-size:70px;
    a{
      color: black;
    }
  }
  &__center{
    font-size:50px;
    line-height: 100px;
    color:yellow;
  }
  &__right{
    display: flex;
    margin-right: 40px;
    line-height: 100px;
    &--left{
      font-size: 20px;
      margin-right: 30px;
      a{
        color: black;
      }
    }
    &--right{
      font-size: 20px;
      a{
        color: black;
      }
    }
  }
}
.main{
  a{
    color: black;
  }
  position: relative;
  background-image: url(/assets/ivent3.jpg);
  background-position : 50% 50%;
  padding-bottom: 30px;
  &__first{
    position: absolute;
    top:-90px;
    left:355px;
    padding-top:20px;
    display: flex;
    font-size: 20px;
    justify-content: center;
    &--area{
      padding:10px 30px;
      background-color: rgb(78, 78, 247);
      height: 30px;
      a{
        color: white;
      }
    }
    &--zoo{
      width: 80px;
      padding:10px 30px;
      background-color: rgb(78, 78, 247);
      border-left: 1px solid black;
      a{
        color: white;
      }
    }
    &--ivent{
      padding:10px 30px;
      background-color: rgb(78, 78, 247);
      border-left: 1px solid black;
      height: 30px;
      a{
        color: white;
      }
     
    }
    &--view{
      padding:10px 30px;
      background-color: rgb(78, 78, 247);
      border-left: 1px solid black;
      height: 30px;
      a{
        color: white;
      }
    }
    ul{
      position: relative;
      &:hover{
        li{
          display: block;
          
        }
      }
    }
    li.dog{
      border-bottom:1px solid black ;
      position: absolute;
      background-color: rgb(96, 96, 245);
      right: 0px;
      top:50px;
      z-index: 1000;
      display: none;
      height: 30px;
      padding:10px 30px;
      width: 80px;
      a{
        color: white;
      }
    }
    li.cat{
      right: 0px;
      position: absolute;
      background-color: rgb(96, 96, 245);
      top:101px;
      z-index: 1000;
      display: none;
      height: 30px;
      padding:10px 30px;
      width: 80px;
      a{
        color: white;
      }
    }
  }
  &__second{
    padding-top:40px;
    &--name{
      font-size:20px;
      text-align: center;
      padding-bottom: 20px;
    }
    &--contents{
      display: flex;
      justify-content: center;
      &-content{
        background-color: white;
        margin: 0 30px;
        .second_image{
          height: 130px;
          background-color:blue;
        }
      }
    }
  }
  &__third{
    padding-top:40px;
    &--name{
      font-size:20px;
      text-align: center;
      padding-bottom: 20px;
    }
    &--contents{
      display: flex;
      justify-content: center;
      &-content{
        background-color: white;
        margin: 0 30px;
        .third_image{
          height: 130px;
          background-color:blue;
        }
      }
    }
  }
  &__fourth{
    padding-top:40px;
    &--name{
      font-size:20px;
      text-align: center;
      padding-bottom: 20px;
    }
    &--contents{
      display: flex;
      justify-content: center;
      &-content{
        background-color: white;
        margin: 0 30px;
        .fourth_image{
          height: 130px;
          background-color:blue;
        }
      }
    }
  }
}
.mains{
  background-image: url(/assets/ivent4.jpg);
  background-position : 50% 50%;
  background-size: cover;
  &__fifth{

    padding-bottom: 30px;
    padding-top:40px;
    &--name{
      font-size:20px;
      text-align: center;
      padding-bottom: 20px;
    }
    &--contents{
      display: flex;
      justify-content: center;
      &-content{
        background-color: white;
        margin: 0 20px;
        .fifth_image{
          height: 130px;
          width: 300px;
          background-color:blue;
        }
      }
    }
  }
  &__sixth{
    
    padding-top:40px;
    padding-bottom: 100px;
    &--name{
      font-size:20px;
      text-align: center;
      padding-bottom: 20px;
    }
    &--contents{
      display: flex;
      justify-content: center;
      &-content{
        background-color: white;
        margin: 0 20px;
        .sixth_image{
          height: 200px;
          width: 300px;
          background-color:blue;
        }
      }
    }
  }
}
.footer{
  background-color:black;
  text-align: center;
  font-size:70px;
  height: 100px;
  padding-bottom: 20px;
  a{
    color: white;
  }
}
a{
  text-decoration: none;
}